[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-theme-chunky-poster"]
	path = themes/hugo-theme-chunky-poster
	url = https://github.com/puresyntax71/hugo-theme-chunky-poster.git
[submodule "themes/hugo-me-theme"]
	path = themes/hugo-me-theme
	url = https://github.com/christianmendoza/hugo-me-theme
